<nav>
  <div class="nav-wrapper yellow">
    <a href="/" class="brand-logo black-text">Post Its</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/movies" class="black-text">Post-Its</a></li>
      <li><a href="/about" class="black-text">About</a></li>
    </ul>
  </div>
</nav>
