<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
	<title></title>
</head>
	<body>
		<head>	
			<% include ./partials/header %>
		</head>
		<a href="/notes">Back to Notes</a>
		<h1 class="center"><%= note.title %></h1>
		<hr />
	 <div class="row">	
		<% var action = '/notes/edit/' + note.id %>
		<div class="col s12 m4 offset-m4">
      <div class="card yellow">
        <div class= 'yellow center'>
        <form class="center-align" action=<%= action %> method='POST'>
					<input type='text' name='title' value='<%= note.title %>' />
					<input type='text' name='description' value='<%= note.description %>' />			
					<button class="btn btn-flat yellow black-text">Update</button>
       </form> 
       </div>         
      </div>
      </div>
   </div>   

		
	</body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
</html>