<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
	<title></title>
</head>
	<body>
		<head>	
			<% include ./partials/header %>
		</head>
		<a href="/notes">Back to Notes</a>
		<h1 class="center"><%= note.title %></h1>
		<hr />
		<% var action = '/notes/edit/' + note.id %>
		<form class="center-align" action=<%= action %> method='POST'>
			<input type='text' name='title' value='<%= note.title %>' />
			<input type='text' name='description' value='<%= note.description %>' />			
			<button class="btn btn-waves">Update</button>
		</form>	
	</body>
</html>