<!DOCTYPE html>
<html>
<head>
 <% include ./partials/head %>
</head>
<body>
 <header>
   <% include ./partials/header %>
 </header>
 <h1 class='center'>Reminders</h1>
 <hr />

 <div class='row'>
   <div class='col s12 m4 offset-m4'>
     <h3>Add Post It Note</h3>
     <form action='/notes' method='post'>
       <input type='text' name='title' placeholder='title' required />
       <input type='text' name="description" placeholder="description" required />
       <button class='btn btn-waves yellow black-text' type='submit' onclick="loadDoc()">Post It!</button>
     </form>
   </div>
 </div> 

 <div class="row">
  <% notes.forEach(function(note) { %>
   <% action = '/notes/' + note.id %>
    <div class="col s12 m4">
     <div class="card  yellow">
      <div class="card yellow black-text">
       <span class="card-title yellow"><a href =<%= action %>><%= note.title %></a></span>
        <p class= 'flow-text'><%= note.description %></p>
      
        <form action=<%= action %> method='POST'>
         <button class='btn btn-flat waves-effect yellow black-text center' type='submit'>Delete</button>
        </form> 
      </div>         
    </div>
 </div>
  <% }); %>
 </body>
</html>
